<!DOCTYPE html>
<html>
<head>
    <title>Game</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
<canvas id="c" width="800" height="480" tabindex="1" onclick="this.focus();" oncontextmenu="return false;"></canvas>
<script src="../../src_original/main.js"></script>

<script src="../../src_original/damn/graphics.js"></script>
<script src="../../src_original/damn/keyboard.js"></script>
<script src="../../src_original/damn/line.js"></script>
<script src="../../src_original/damn/geom.js"></script>
<script src="../../src_original/damn/mouse.js"></script>
<script src="../../src_original/damn/gamepad.js"></script>
<script src="../../src_original/damn/game.js"></script>
<script src="../../src_original/game/objects/quadtree.js"></script>
<script src="../../src_original/damn/sprite.js"></script>
<script src="../../src_original/game/objects/text.js"></script>
<script src="../../src_original/game/objects/particle.js"></script>
<script src="../../src_original/game/objects/bullet.js"></script>
<script src="../../src_original/game/objects/player.js"></script>
<script src="../../src_original/game/states/playstate.js"></script>
<script src="../../src_original/damn/state.js"></script>
<script src="../../src_original/game/init.js"></script>
</body>
</html>